<a href="http://localhost:3000/instructors" >View All Instructors </a>    -
<a href="http://localhost:3000/gyms" >View All Climbing Gyms</a>
<h1> <%=@gym.find(params[:id]).name%> </h1>
<p><a href="http://localhost:3000/gyms/<%=@gym.find(params[:id]).id%>/instructors" >Meet the Instructors of <%=@gym.name%> </a></p>

<h3>
  <p>Hours: <%= @gym.find(params[:id]).opening_time %> - <%= @gym.find(params[:id]).closing_time %><p>
  <p>Opens at: <%= @gym.find(params[:id]).opening_time %>:00<p>
  <p>Closes at: <%= @gym.find(params[:id]).closing_time %>:00<p>
  <p>Currently_open: <%= @gym.find(params[:id]).currently_open %><p>
  <p>Customer_capacity: <%= @gym.find(params[:id]).customer_capacity%><p>
  <p>Instructors at this Gym: <%= @gym.find(params[:id]).instructors.count %> </p>

</h3>
